@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #00b386;
  --gray: #b6b6af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

p,
label,
span {
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: #cdcfcf;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

.card {
  min-height: 50px;
  box-sizing: border-box;
  padding: 2em;
  background-color: white;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 10px;
}

.w-500 {
  width: 500px;
}

.ant-radio-wrapper.start .ant-radio,
.ant-checkbox-wrapper.start .ant-checkbox {
  align-self: self-start !important;
}

.ant-tag {
  margin-inline-end: 0 !important;
}

.ant-radio-wrapper.zero {
  margin-inline-end: 0;
}

.box {
  padding: 20px;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.error {
  border-color: red;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bottom {
  box-shadow: 5px 5px 10px #ccc;
}

.main-bg {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  height: 100vh;
  opacity: 0.5;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.ant-btn-primary {
  background-color: blue;
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-table-thead th {
  text-align: center !important;
}

.dropdown__menu {
  z-index: 5 !important;
}

.click-box {
  border: 2px solid var(--gray);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.click-box:hover {
  border-color: var(--primary);
}

.click-box.box-active {
  border-color: var(--primary);
}

@media (max-width: 768px) {
  .click-box {
    width: 100%;
  }
}
