@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #00b386;
  --gray: #b6b6af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

p,
label,
span {
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: #cdcfcf;
}

.card {
  min-height: 50px;
  box-sizing: border-box;
  padding: 2em;
  background-color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 10px;
}

.w-500 {
  width: 500px;
}

.ant-radio,
.ant-checkbox {
  align-self: self-start !important;
}

.box {
  padding: 20px;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.error {
  border-color: red;
}
